{% if page.auto-scroll == true %}
<div class="anim-menu undocked">
{% else %}
<div class="anim-menu">
{% endif %}
  <nav class="top-bar large">
    <ul class="title-area">
      <li class="logo">
        <br> 
        <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ site.img-path }}/{{ site.logo }}"></a>
      </li>
      <li>
        <a id="menuButton">
        </a>
      </li>
    </ul>
    <section>
      <div class="text-right" style="padding-right:1rem; padding-top:0.5rem; ">
        <span class="dc"> EM BREVE O NOSSO SITE ESTARA NO AR. </span>
      </div>
    </section>
  </nav>
</div>


