  <link rel=”author” href=”https://plus.google.com/116739255173599428138”/>

  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/lib/css/custom.css">
  
  <link rel="icon"  type="image/ico"  href="{{ site.baseurl }}{{ site.img-path }}/{{ site.logo }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script>document.createElement( "picture" );</script>
  <script src="{{ site.baseurl }}/lib/js/head.js"></script>

 <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">