---
layout: page
auto-scroll: false
txt-color: dark
page-id: "comming-soon-1"

---
<div>
  <div class="large-4 show-for-large-up columns">
    <div style="max-width: 25rem; margin: auto;">
    {% include dc-txt.html %}
    </div>
  </div>
   <div class="small-12 medium-12 large-8 columns">
     <div class="hide-for-medium-up">
        <span class="dc"> EM BREVE O NOVO SITE NO AR. </span>
        <br><br>
      </div>
     {% include imgs/img-about-profile.html %}
     <div class="show-for-large-up text-right"><br>{% include dc-contact.html %}</div>
  </div>
  <div class="small-12 medium-12 hide-for-large-up columns">
    <div class="small-12 medium-7 hide-for-large-up columns">
      <br>
      {% include dc-txt.html %}
    </div>
    <div class="small-12 medium-5 hide-for-large-up columns">
        <br>
        {% include dc-contact.html %}
    </div>
  </div>
</div>