<div class="show-for-large-up">
    <div class=" large-8 columns">
        <h6>
            Parque da Cidade - Torre Tarumã<br> 
            Av. das Nações Unidas  14.401 23 Andar cj. 2304 e 2305<br>
            São Paulo, SP<br>
        </h6>
    </div>
    <div class=" large-4 columns">
        <h5><span class="dc"> 55 11 97615 3866</span></h5>
        <h6>dc@dcassociados.com.br<br></h6>
    </div>
</div>

<div class="hide-for-large-up">
    <h5><span class="dc"> 55 11 97615 3866</span></h5>
    <h6>dc@dcassociados.com.br<br></h6>
    <h6>
        Parque da Cidade - Torre Tarumã<br> 
        Av. das Nações Unidas  14.401 23 Andar cj. 2304 e 2305<br>
        São Paulo, SP<br>
    </h6>
</div>